<div class="form-group text-center ui-widget">
  <label for="name">This website uses Yelp API! Choose a city:</label>
  <input type="text" class="form-control" id="search" name="search" autofocus autocomplete="on" require>
</div>

<div id="result"></div>





    



